<link rel="stylesheet" href="/styles/formStyles.css">
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 form-col">
            <form>
                <div class="form-group">
                    <h2>{{products.name}}</h2>
                    <a href="/">Home</a>
                </div>
                <hr>
                <div class="form-group">
                    <label for="quantity">Select Quantity</label>
                    <input type="number" class="form-control" id="quantity">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location">
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success">
            <p>Thank you for your order <span id="users-name"></span>! Your package will arrive in <span
                    id="dest-time"></span>.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>

    $(".alert").hide();
    $("#submit").on("click", function (e) {
        e.preventDefault();
        var name = $("#name").val().trim();
        var quantity = $("#quantity").val().trim();
        var city = $("#location").val().trim();
        console.log(quantity);
        console.log(city);
        $("#users-name").text(name);
        $.ajax({
            url: "api/location-search/" + city,
            type: "GET"
        }).then(function (data) {
            console.log(data);
            $("#dest-time").text(data.rows[0].elements[0].duration.text);
        });
        $(".alert").show();
        //$.ajax({
           // method: "PUT",
            //url: "/api/products/:id"
        //}).then(function (data) {
           // console.log(data);
        //})
    var id = window.location.pathname;
    for (var i = 0; i < id.length; i++) {
        console.log(id[6]);
        var newId = id[6];
        $.ajax({
            url: "/api/products/" + newId + "/" + quantity,
            type: "PUT"
        }).then(function (data) {
            if (data.inventory === 0) {
                alert("Not enough in stock");
            }
            console.log(data)
            });
    }
        
    });
</script>