<header>
    <div class="row">
        <div class="col-md-12 head">
            <h1 id="titleHead">Header</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 outerCon">
            <p id="products">products</p>
            <div class="row">
                <div class="col-md-4 innerTop">
                    {{#each products}}
                        <p>{{name}}</p>
                        <p>{{price}}</p>
                        <p>{{inventory}}</p>
                    {{/each}}
                </div>
            </div>
            {{!-- <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                    <div class="row">
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                        <div class="col-md-4 innerTop">
                            <a href="indexForm.html">product name</a>
                            <p>product info</p>
                            <p>availability</p>
                        </div>
                    </div> --}}
        </div>
    </div>
</div>
</div>