body {
  background-color: rgb(61, 124, 179);
}

.head {
  background-color: rgb(179, 179, 179);
  border-bottom: 4px solid rgb(77, 77, 77);
  height: 100px;
  text-align: center;
}

#titleHead {
  font-size: 75px;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  background-color: rgb(221, 224, 227);
  margin-top: 40px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 5px 10px 5px rgb(28, 58, 84);

}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#products {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.0rem;
}

.innerTop {
  height: inherit;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#productTitle {
  background-color: rgb(184, 184, 184);
  padding: 10px;
  border-bottom: 1px solid rgb(61, 124, 179);
  border-left: 1px solid rgb(61, 124, 179);
  border-right: 1px solid rgb(61, 124, 179);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#inventory {
  border: 1px solid rgb(96, 0, 0);
  background-color: rgb(223, 0, 0);
  width: 75%;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

#stars {
  border: 1px solid rgb(148, 126, 0);
  background-color: gold;
  width: 18%;
  padding-left: 5px;
  padding-right: 5px;
}