body {
  background-color: rgb(61, 124, 179);
}

.head {
  background-color: rgb(221, 224, 227);
  border-bottom: 5px solid rgb(114, 114, 114);
  height: 100px;
  text-align: center;
}

#titleHead {
  font-size: 75px;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  background-color: rgb(221, 224, 227);
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 8px 12px 8px rgb(28, 58, 84);

}

p {
  margin-bottom: 12px;
  font-family: 'Titillium Web', sans-serif;
}

#products {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.0rem;
  background-color: rgb(184, 184, 184);
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 8px rgb(74, 74, 74);
}

.innerCon {
  height: inherit;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#productTitle {
  background-color: rgb(184, 184, 184);
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 8px rgb(74, 74, 74);
  font-family: 'Titillium Web', sans-serif;

}

#inventory {
  border: 1px solid rgb(96, 0, 0);
  background-color: rgb(210, 0, 0);
  width: fit-content;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

#stars {
  border: 1px solid rgb(148, 126, 0);
  background-color: rgb(235, 200, 0);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

#price {
  font-weight: bold;
  font-size: 1.5rem;
}